@include theme {
  .sa-tabs {
    width: 100%;
    position: relative;

    .sa-tabs-nav {
      position: relative;

      @include flexMixin('');
    }

    .sa-pane-content {
      padding: 10px 0;
    }

    &-pane {
      cursor: pointer;
      font-size: 14px;
      color: #000;

      box-sizing: border-box;
    }

    &.sa-tabs--card {
      .sa-tabs-nav {
        border: 1px solid $border;
        
        > div {
          padding: 10px 20px;
          border-left: 1px solid $border;
        }
      }
    }

    &.sa-tabs--default {
      
      &::before {
        content: "";

        width: 100%;
        height: 2px;
        background: $disabledText;

        position: absolute;
        top: 4vh;
        left: 0;
        z-index: -999;
      }

      .sa-tabs-pane { 
        padding: 10px 0;
        margin: 0 20px;

        &:nth-child(2) {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
      
      .sa-tabs-pane__active {
        color: $colorPrimary;
      }

      .sa-tabs-active__bar {
        height: 3px;

        position: absolute;
        bottom: -2px;
        left: 0;
        z-index: 1;

        background: $colorPrimary;
        transition: transform .3s cubic-bezier(.645, .045, .355, 1);
      }

    }
  }

  
}