@include theme {
  .demo-icon {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
    .icon-item {
      padding-top: 40px;
      width: 16.5%;
      height: 130px;
  
      text-align: center;
      cursor: pointer;
  
      border: 1px solid $cyan_7;
  
      p {
        color: $cyan_7;
        white-space: normal;
      }
        
      &:hover {
        text-shadow: 0 5px 5px $cyan_3;
      }
    }
  }
}