@include theme {
  .sa-progress {
    position: relative;

    &.sa-progress-bar-circle {
      margin-right: 10px;
      
      display: inline-block;
    }

    .sa-progress-bar {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      box-sizing: border-box;
    }

    .sa-progress-bar-content--format {
      position: relative;
      width: 28px;
      height: 20px;

      > .sa-progress-bar-content--wrapper {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &.sa-progress-bar-line {
      width: 350px;
      margin-bottom: 15px;

      display: flex;
      align-items: center;
    }

    .sa-progress-bar-outer {
      position: relative;

      border-radius: 100px;
      background-color: $gray_4;
      overflow: hidden;
    }

    .sa-progress-bar-inner {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      border-radius: 100px;

      @include statusMixin(progress-bar-inner) {
        background: $value;
      }
    }

    .sa-progress-bar-amint {
      position: absolute;
      top: 0;
      left: -20px;
      z-index: 99;

      width: 20px;
      height: 100%;

      background: radial-gradient(ellipse closest-side, rgba(255,255,255, .8), rgba(255,255,255, .1));

      box-shadow: 0px 0px 40px 4px #fff, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset;
      animation: left .1S;
    }

    .sa-progress-text,
    .sa-progress-innertext {
      font-size: 14px;

      color: $gray_8;
    }

    .sa-progress-text {
      margin-left: 10px;
      
      &.sa-progress-circletext {
        margin-left: 0;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    .sa-progress-innertext {
      margin-top: -3px;
      margin-right: 10px;

      text-align: right;
      color: #fff;
    }
  }

  .sa-progress-circle {
    width: 128px;
    height: 128px;
  }
}
