

@include theme {
  $click_bgc:#DFE7FA;
  $hover_bgc: rgba($color: $border, $alpha: 0.5);

  .sa-table {
    position: relative;

    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;

      > thead {
        text-align: left;
      }

      th,
      td {
        padding: 16px 0;
        box-sizing: border-box;

        border-bottom: 1px solid $hover_bgc;
      }
    }

    .sa-table-item {
      padding: 0 10px;

      color: #909399;
      font-size: 14px;
    }

    .sa-table-head {
      font-weight: bold;
    }

    .sa-table-head--sortable {
      cursor: pointer;

      .caret-wrapper {
        height: 34px;
        width: 24px;

        display: inline-flex;
        flex-direction: column;
        align-items: center;

        vertical-align: middle;
        cursor: pointer;

        overflow: initial;
        position: relative;

        .sort-caret {
          width: 0;
          height: 0;

          border: 5px solid transparent;

          position: absolute;
          left: 7px;

          &.descending {
            border-top-color: #c0c4cc;
            bottom: 7px;
          }

          &.ascending {
            border-bottom-color: #c0c4cc;
            top: 5px;
          }
        }
      }

      &.sa-ascending {
        .ascending {
          border-bottom-color: $colorPrimary!important;
        }
      }

      &.sa-descending {
        .descending {
          border-top-color: $colorPrimary!important;
        }
      }
    }
  }

  .sa-table-border {
    border-top: 1px solid $hover_bgc;
    border-left: 1px solid $hover_bgc;

   th,
   td {
      border-right: 1px solid $hover_bgc;
    }
  }

  .sa-table-cell--zebra {
    background-color: rgba($color: #D3E3FC, $alpha: .3);
  }

  .sa-table-column--hover {
    // box-shadow: 0 0 8px 0 rgba(232,237,250, .6), 0 2px 4px 0 rgba(232,237,250, .5);

    &:hover {
      background-color: $hover_bgc;
    }
  }

  .sa-table-column--click {
    background-color: rgba($color: $click_bgc, $alpha: .8);
  }
}