@include theme {
  $click_bgc:#DFE7FA;
  $hover_bgc: rgba($color: $border, $alpha: 0.5);

  .sa-table {
    position: relative;

    width: 100%;

    .sa-table-scroll {
      width: calc(100% + 17px);
      overflow: scroll;
      overflow-y: unset;
      display: inline-block;
    }

    table {
      border-collapse: collapse;
      overflow-x: auto; 
      min-width: 100%;

      background: #fff;

      > thead {
        text-align: left;
      }

      tr {
        position: relative;
      }

      th,
      td {
        padding: 16px 0;
        box-sizing: border-box;

        border-bottom: 1px solid $hover_bgc;
      }
    }

    .sa-table-item {
      padding: 0 10px;

      color: #909399;
      font-size: 14px;

      .sa-table-item--expand {
        color: $colorPrimary
      }
    }

    .sa-table-head {
      font-weight: bold;
    }

    .sa-table-head--sortable {
      cursor: pointer;

      .caret-wrapper {
        height: 34px;
        width: 24px;

        display: inline-flex;
        flex-direction: column;
        align-items: center;

        vertical-align: middle;
        cursor: pointer;

        overflow: initial;
        position: relative;

        .sort-caret {
          width: 0;
          height: 0;

          border: 5px solid transparent;

          position: absolute;
          left: 7px;

          &.descending {
            border-top-color: #c0c4cc;
            bottom: 7px;
          }

          &.ascending {
            border-bottom-color: #c0c4cc;
            top: 5px;
          }
        }
      }

      &.sa-ascending {
        .ascending {
          border-bottom-color: $colorPrimary!important;
        }
      }

      &.sa-descending {
        .descending {
          border-top-color: $colorPrimary!important;
        }
      }
    }
  }

  .sa-table-border {
    border-top: 1px solid $hover_bgc;
    border-left: 1px solid $hover_bgc;

   th,
   td {
      border-right: 1px solid $hover_bgc;
    }
  }

  .sa-table-cell {
    @include alginMixin(table)
  }

  .sa-table-cell--zebra {
    background-color: rgba($color: #D3E3FC, $alpha: .3);
  }

  .sa-table-cell--fixed {
    position: sticky; // sticky
    z-index: 3;

    background-color: #fff;
  }

  .sa-cell-fixed-left, 
  .sa-cell-fixed-right {

    $inset-size: 3px;
    
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      width: $inset-size;
      pointer-events: none;
      content: '' !important;
      z-index: 4;
      background-color: transparent;

      left: initial;
      right: initial;
      transform: none;
    }

    &.sa-cell-fixed-left {
      &:before {
        right: 0;
        box-shadow: inset $inset-size 0 $inset-size -#{$inset-size} plv(gray-3);
      }
    }

    &.sa-cell-fixed-right {
      &:before {
        left: 0;
        box-shadow: inset -#{$inset-size} 0 $inset-size -#{$inset-size} plv(gray-3);
      }
    }
  }

  .sa-table-cell--fixed-left {
    left: 0;
  }

  .sa-table-cell--fixed-right {
    right: 0;
  }

  .sa-table-column--hover {
    // box-shadow: 0 0 8px 0 rgba(232,237,250, .6), 0 2px 4px 0 rgba(232,237,250, .5);

    &:hover {
      background-color: $hover_bgc!important;
    }
  }

  .sa-table-column--click {
    background-color: rgba($color: $click_bgc, $alpha: .8);
  }
}