@include theme {
  .sa-table {
    position: relative;

    width: 100%;

    > table {
      width: 100%;
      border-collapse: collapse;

      > thead {
        text-align: left;
      }

      th,
      td {
        padding: 16px 0;
        box-sizing: border-box;

        border-bottom: 1px solid $border;
      }
    }

    .sa-table-item {
      padding: 0 10px;

      color: #909399;
      font-size: 14px;
    }

    .sa-table-head {
      font-weight: bold;
    }
  }

  .sa-table-border {
    border-top: 1px solid $border;
    border-left: 1px solid $border;

   th,
   td {
      border-right: 1px solid $border;
    }
  }

  .sa-table-cell {
  
  }

  .sa-table-column--hover {
    // box-shadow: 0 0 8px 0 rgba(232,237,250, .6), 0 2px 4px 0 rgba(232,237,250, .5);

    &:hover {
      background-color: $border;
    }
  }
}