@include theme {

  .sa-upload__input {
    display: none;
  }

  .sa-upload__toolpit {
    margin: 10px 0;

    font-size: 12px;
    color: #606266;
  }

  .sa-upload-file {
    margin-top: 5px;
    width: 100%;
  }

  .sa-upload__img {
    display: flex;
    flex-wrap: wrap;
  }

  .sa-upload-file__iamge-card {
    margin-top: 5px;

    .sa-upload__ccontent {
      
      margin-top: 10px;
      
      padding: 10px;

      border-radius: 8px;
      border: 1px solid $colorPrimary;
      cursor: pointer;

    }
    
    .sa-upload__card {
      display: flex;
      // justify-content: space-between;
      align-items: center;
    
      position: relative;

      font-size: 14px;
      color: $colorPrimary;

      > img {
        width: 70px;
        height: 70px;
        margin-right: 15px;

        background-color: #fff;
      }

      .sa-upload__card-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1999;

        // color: #fff;
      }
    }
  }

  .sa-upload-file__image {
    width: 180px;
    height: 180px;
    margin-left: 15px;
    margin-top: 10px;

    border: 1px dashed $colorPrimaryLight;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: $disabledLight;

    .sa-upload-file__image_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    > img {
      width: 180px;
      height: 180px;
    }

    .sa-upload__image-close {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1999;

      color: $colorPrimary;
    }

    &:hover {
      border: 1px dashed $colorPrimary;
    }
  }

  .sa-upload-file-item {
    padding: 0 5px;

    cursor: pointer;
    
    font-size: 14px;
    color: #606266;
    line-height: 1.8;

    position: relative;

    box-sizing: border-box;
    border-radius: 4px;
    transition: all .5s cubic-bezier(.55,0,.1,1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background: rgba($color: $colorPrimary, $alpha: .1);
    }

    .sa-upload__filename {
      padding-left: 4px;
  
      color: #606266;
      
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      transition: color .3s;
    }
  }

  .sa-upload__progress,
  .sa-upload-image__progress {
    margin-bottom: 0!important;
  }

  .sa-upload-image__progress,
  .sa-upload__image-mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sa-upload-image__progress {
    z-index: 2999;
  }

  .sa-upload__image-mask {
    width: 100%;
    height: 100%;
    z-index: 1999;

    background-color: rgba($color: $cyan_1, $alpha: .7);
  }

  .sa-upload-drag {
    width: 420px;
    height: 220px;

    cursor: pointer;
    text-align: center;
  
    border: 1px dashed $colorPrimaryLight;
    border-radius: 10px;

    &:hover {
      
      border: 1px dashed $colorPrimary;
    }
  }

  .sa-upload-drag-active {
    
    border: 1px dashed $colorPrimary;
  }

  .sa-icon-upload {
    margin: 40px 0 16px;

    color: #c0c4cc;
    line-height: 50px;
  }

  .sa-upload__text {
    color: #606266;
    font-size: 14px;
    text-align: center;

    em {
      color: #409eff;
      font-style: normal;
    }
  }
}